
body {
font-family: 'Roboto', Helvetica, Arial, sans-serif;
font-size: 18px;
}

/* Font size for all titles */
.title {
    font-size: 20px;
    color:  #58544b;
    font-weight: bold;
}

/* Start of header, logo, menu */
#logo{
    width: 50px;
    object-fit: cover;
    margin: 5px 0 0 20px;
}

#menu{
 width: 20px;    
 padding: 20px; 
 object-fit: cover;

}


#header1 {
    grid-area: header1;
}
#header2 {
    grid-area: header2;
}
#header3 {
    grid-area: header3;
    border-left: 0.5px solid #F2F2F2;
}


header {
    grid-area: header;
    width: 100vw;
    max-height: 60px;
    border: 1px solid l#F2F2F2;
    display: flex;
    justify-content:space-between; 
    grid-template-areas: 
    " header 1 header 2 header 3"

}

/* End of header, logo, menu */

#section1 {
    grid-area: sec1;
    background-color: hsla(45, 86%, 65%, 0.2);
    padding: 30px;
    min-height: 200px;
}
#section2 {
    grid-area: sec2;
    min-height: 200px;

}
#section3 {
    grid-area: sec3;
    background-color: hsla(45, 86%, 65%, 0.2);
    min-height: 200px;
}
#section4 {
    grid-area: sec4;
    min-height: 200px;

}

footer{
    grid-area: footer;
    background-color: hsl(45, 86%, 65%, 0.7);
    min-height: 200px;

}


#container {
 display: grid;
 height: 100vh;
 grid-template-columns: 1 fr; 
 grid-template-rows: 60px auto auto auto auto auto;
 grid-template-areas: 

" header "
" sec1"
" sec2"
" sec3"
" sec4"
" footer"
}

