body {
  font-family: "Roboto", Helvetica, Arial, sans-serif;
  font-size: 18px;
  line-height: 1.667;
  width: 100vw;
  text-align: justify;
  overflow-x: hidden;
}

/* Color Scheme */
:root {
  --white: white;
  --lightgrey: #f2f2f2;
  --lightyellow: #fdf6d7;
  --yellow: #f2d854cc;
  --darkgrey: #58544b;
  --black: black;
}

/* Container-grid */
#container {
  display: grid;
  height: 100vh;
  grid-template-columns: 1fr;
  grid-template-rows: auto; 
  grid-template-areas:
    "row"
    "topnav1"
    "topnav2"
    "sec1"
    "sec2"
    "sec3"
    "sec4"
    "sec5"
    "footer";
}

[id*="section"] {
  padding: 1% 8% 3% 8% ;
}

#row {
  grid-area: row;
  background-color: var(--yellow);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 30px;
  width: 97,5vw;
  height: 30px;

}

#row span {
  padding-left: 10px;
}


#topnav {
  grid-area: top1;
  overflow: hidden;
  position: relative;
 
}

#topnav-tablet {
  grid-area: top2;
}

#section1 {
  grid-area: sec1;
  background-color: var(--lightyellow);
  height: auto;
}

#section2 {
  grid-area: sec2;
  background-color: var(--lightgrey);
}

#section3 {
  grid-area: sec3;
}

#section4 {
  grid-area: sec4;
  background-color: var(--lightgrey);
}
#section5 {
  grid-area: sec5;
}

footer {
  grid-area: footer;
  background-color: var(--yellow);
  min-height: auto;
}

/* Base Style navigation menu */
ul {
  list-style: none;
  display: inline-flex;
}
a:hover,
a:focus {
  outline: none;
  text-decoration: none;
}

/* Style navigation menu */
#logo {
  width: 50px;
  margin: 5px 0 10px 20px;
}


#topnav a,
#topnav-tablet a {
  display: flex;
  text-decoration: none;
  align-items: center;
  color: var(--black);
}

h1 {
  font-weight: normal;
  font-size: 24px;
  color: var(--darkgrey);
  padding-right: 65px;
}

h2 {
  font-size: 24px;
  color: var(--darkgrey);
  font-weight: bold;
}

h4 {
  margin-top: 0;
}

b {
  color: var(--darkgrey);
}

/* Hide the links inside the navigation menu (except for logo/home) */

#topnav #myLinks {
  display: none;
}

/* Style navigation menu links */
#topnav #myLinks a {
  color: var(--black);
  padding: 14px 16px;
  text-decoration: none;
  display: block;
}

/* Style the hamburger menu */
#topnav a.icon {
  background: var(--white);
  color: var(--black);
  border-left: 1px solid var(--lightgrey);
  display: block;
  position: absolute;
  padding: 15px 20px;
  right: 0;
  top: 0;
}

/* Add background color on mouse-over */
#topnav #myLinks a:hover {
  background-color: var(--lightyellow);
  color: var(--black);
}

/* Buttons Styles */
button {
  background-color: var(--white);
  width: 100%;
  padding: 12px;
  border-radius: 2px;
  border: var(--lightgrey);
  color: var(--black);
  text-align: center;
  cursor: pointer;
  transition: all 0.15s ease;
}


/* Sections style*/

.container-img {
  border: 5px solid var(--white);
  background-color: white;
  box-shadow: 5px 5px 5px darkgray;
  border-radius: 5%;
  margin: 0 auto 30px auto;
  width: 300px;
  height: auto;
  text-align: center;
  padding: 30px 20px;
}

.container-img p {
  text-align: justify;
}

.container-img a {
  border: 1px solid grey;
  padding: 10px;
}

.text-mission {
  padding-right: 20px;
}

#section3 img,
#section5 img {
  display: block;
  width: 200px;
  height: 200px;
  margin: 0 auto;
  object-fit: cover;
  border-radius: 50%;
}

#sec3-container p,
#sec5-container p {
  max-width: 300px;
  margin: 0 auto;
  padding: 20px;
}

.text-center {
  text-align: center;
}

#section4 img {
  display: block;
  margin: 0 auto;
  width: 100%;
  max-width: 400px;
}

a {
  color: var(--darkgrey);
  text-decoration: none;
}

/* Footer Style*/
.footer-social-icons {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px 0 0 0;
}

.icon-linkedin,
.icon-instagram {
  padding: 10px;
  color: var(--darkgrey);
  
}

footer a,
footer p {
  color: var(--darkgrey);
  text-decoration: none;
  text-align: center;
}
.copyright {
  margin: 20px 30px;
  font-size: 15px;
}
/* Hide tablet screen menu  */

#topnav-tablet,
.intro{
  display:none;
}

@media screen and (min-width: 600px){
  /* Header and Menu */
  #topnav,
  #sec1-mobile {
    display: none;
  }

  .intro {
  display: block;   
  height: 100vh;
  position: relative; 
  }

  /* Slideshow */
 .slideshow-img {
  position: absolute; 
  max-height: 400px;
  width: 100%;
  height: 100%;
  object-fit: cover; 
  display:none;
}

.slider-content {
  color: #fff;
  position: absolute;
  left: 0;
  right: 0;
  top: 20%;
  padding: 0 15%;
  width: 100%;
  text-align: center;
  height: 100%;
}
.mu-slider-content h4 {
  letter-spacing: 1px;
  margin-bottom: 0;

}
.mu-slider-content h2 {
  font-size: 45px;
  line-height: 80px;
  margin-bottom: 10px;
}
.mu-slider-content p {
  font-size: 18px;
  letter-spacing: 0.5px;
  line-height: 28px;
}
.mu-slider-content a {
  margin-top: 25px;
}
/*Topnav*/

  #topnav-tablet {
    display: flex;
    justify-content: space-between;
    align-items: center;
    overflow: hidden;
    width: 100vw;
    
  }

  #mylinks2 a {
    width: auto;
  
  }

  #mylinks2 a:last-child {
    padding-right: 30px;
  }


  #mylinks2 .subnav-content a {
    width: auto;
    padding: 30px;
  }

  #mylinks2 .subnav-content a:hover {
    background-color: var(--lightyellow);
    padding: 30px;
  }

  li.subnav {
    display: inline-block;
  }

  .subnav:hover .subnav-content {
    display: block;
    overflow: hidden;
  }

  .subnav-content {
    display: none;
    position: absolute;
    background-color: var(--white);
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
  }

  /* Section 1 tablet */

  #section1 {
    background-color: var(--white);
    height: 400px;
    width: 100%;
    padding: 0;
  }

  .card {
    width: 50%;
  }

  #sec5-container {
    display: flex;
    flex-direction: row;
    justify-content:center;
    
  }

  .container-img {
    width: 500px;
    margin: 0 auto 60px auto;

  }
}

@media screen and (min-width: 1200px) {
  /* Section2 */
  #sec2-container,
  #sec3-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  .container-img {
    width: 200px; 
    margin: 0 20px 0 0; 
  }

  

}